@media screen and (max-width:600px) {
    html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .logo-container{
        width: 100%;
    }
   
    .text-bar {
       width: 10%;
    }
    .text-bar i{
        display: contents;
    }
    .text-bar li{
        display: none;
    }
    .banner-title{
        padding-top: 30px;
    }
    .banner-title h1{
        font-size: 3rem;
        margin-top: 0;
    }
    .banner-title p{
        width: 550px;
    }
    .banner-section {
        background-position:center;
    }
    .icons{
        display: flex;
    align-items: center;
}
    .select-option{
        width: 300px;
        height: 250px;
        margin-top: 70px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-items-icons {
        width: 200px;
        display: flex;
        text-align: center;
    }
    .fa-solid{
        position: relative;
        top: -20%;
        right: -20%;
    }
    .main-banner{
        flex-direction: column;
        padding: 10px;
    }
    .banner-text{
        width: 100%;
    }
    .banner-img{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content:flex-start;
    }
    .place-img, .item1 img{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .service-quality{
        flex-direction: column;
    }
    .service-banner1,.service-banner2{
        width: 100%;
    }
    .login{
        flex-direction: column;
        position: relative;
    }
    .login-text {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        width: 100%;
        /* height: 100%; */
    }
    .login-banner img{
        /* height: 100%; */
    }
    .login-text p{
        width: 400px;
    }
    .discount{
       position: absolute;
       bottom: 10%;
    }
}