@media screen and (max-width:600px) {
    html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .banner-title{
        padding-top: 30px;
    }
    .banner-title h1{
        font-size: 3rem;
        margin-top: 0;
    }
    .banner-title p{
        width: 550px;
    }
    .banner-section {
        background-position:center;
    }
    .icons{
        display: flex;
    align-items: center;
}
    .select-option{
        width: 300px;
        height: 250px;
        margin-top: 70px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-items-icons {
        width: 200px;
        display: flex;
        text-align: center;
    }
    .fa-solid{
        position: relative;
        top: -20%;
        right: -20%;
    }
}